a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}
.temp > li > a {
  display: inline;
  padding: 0px 15px !important;
}
.temp > li > a:hover,
.temp > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
.temp > li.disabled > a:hover,
.temp > li.disabled > a:focus {
  text-decoration: underline;
  background-color: transparent;
}



.people-pic {
  max-width: 125px;
  max-height: 125px;
  border-radius: 125px;
}

.people-name {
  margin: 10px 0 10px;
}

.people-name h6 {
  margin: 4px 0;
  font-weight: 300;
  font-size: 14px;
}

@media (max-width:1000px) {
  div.speaker img.people-pic {
    max-width: 100px;
    max-height: 100px;
  }
  .people-pic {
    max-width: 65px;
    max-height: 65px;
  }
  .people-name {
    font-size: 13px;
    line-height: 18px;
  }
  .people-name h6 {
    font-size: 9px;
  }
}
